<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeleHakim payment</title>
</head>
<body>
    <h1>Welcome to TeleHakim payment system</h1>
    <h4>choose way to pay</h4>
    <ul>
        <li>
            <a href="{% url 'express-payment' %}">Pay</a>
        </li>
        <!-- <li>
            <a href="{% url 'cart-payment' %}">Pay with cart</a>
        </li> -->
    </ul>
</body>
</html>